
/*
light: #00eaf7, rgb(0, 234, 247);
medium: #0dbdc6, rgb(13, 189, 198);
hard: #13888e, rgb(19, 136, 142);
*/
body{
	background-color:#fff;
}
.navbar{
	background-color: #13888e;
	margin: 0px;
	padding: 0px;
	border-bottom-right-radius: 35%;
}
.navbar-brand{
	background-color: white;
	border-bottom-right-radius: 50%;
	border-bottom: 2px dashed;
	margin: 0px;
	padding: 0px;
}
.nav-item{
	color: white;
	font-size: 20px;
}
.navbar-nav > a{
  margin-left: 2em;
  margin-right: 30px;
  float: right;
}
.nav-item:hover{
	color: #00eaf7;
}
.main{
	margin-top: 5em!important;
}
.hero-image{
	position: relative;
}
.hero-image img{
	margin-left: -10px;
}
.hero-text {
  text-align: center;
  top: 58%;
  left: 40%;
  color: black;
  background-color: rgba(13, 189, 198,0.5);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color:#13888e;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
}
.hero-text button:hover {
  background-color:#13888e;
  color: white;
}
table{
	border:1px solid grey;
}
tr > td:nth-child(1) {
    background-color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    color: grey;
    width: 140px;
}
tr > td:nth-child(2) {
    font-weight: 500;
    color: #ffffff;
    background:#13888e;
}
table a {
	text-decoration: none;
	color: white;
}
tbody{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-me{
		font-family: 'Berkshire Swash', cursive;
		padding: 30px;
    box-shadow: -2px 40px 34px -24px rgba(0, 234, 247, 0.5);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 7px #F4107F;
    border-left-color: #00eaf7;
    border-right-color: #13888e;
}
a{
	color: #fff;
	text-decoration: none;
}
.social-icon a{
	padding-left: 10px;
	padding-right: 10px;
	color: black;
	font-size: 24px;
}
.fixed {
	position: fixed;
	top: 0;
	height: 20px;
	z-index: 1;
}
.typea{
	box-shadow: 0 4px 8px 0 rgba(19, 136, 142, 0.5), 0 6px 20px 0 rgba(13, 189, 198, 0.19);
}
.half-width{
	width: 50%;
}
.addmore:hover{
transition: all ease-in-out 0.9;
}
.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 250px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #13888e;
  cursor: pointer;
}

.btn:hover {
  background-color: #00eaf7;
}

.btn.active {
  background-color: #666;
  color: white;
}
.vw-tm-wrap{
	color: #fff;
}
.vw-tm-wrap.bg-color-option1 {
    background: #178a90;
    box-shadow: 8px 4px 0 0 #0f4b4e;
}
.vw-tm-wrap {
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    padding: 50px 40px 25px 50px;
    margin: 70px 15px 35px;
    box-shadow: 8px 4px 0 0 #00aac4;
    position: relative;
}
.vw-tm-wrap.bg-color-option1 .tm-img {
    border: 5px solid #00aac4;
}
.vw-tm-wrap .tm-img {
    width: 120px;
    height: 120px;
    border: 4px solid #00aac4;
    margin: 0 auto;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
}
.tm-title{
	margin-top: 1em;
}
.vw-tm-wrap .tm-desc {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
    position: relative;
}
.vw-tm-wrap .testimonial-profile {
    position: relative;
    margin: 20px 0 10px;
}
.vw-tm-wrap .title {
    display: block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.vw-tm-wrap .tm-rating {
    font-size: 18px;
    margin-top: 15px;
}
p{
	  margin: 0 0 10px
}
.mp{
	padding: 4em;
}
.services-a{
	margin:5em;
	padding: 5em;
}
.profile {
  width: 330px;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0 0 2rem #babbbc;
  animation: show-profile 0.5s forwards ease-in-out;
}
@keyframes show-profile {
  0% {
    width: 0;
  }
}
.profile .photo, .profile .content {
  box-sizing: border-box;
}
.profile .photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fafafa;
  background-color: #fafafa;
  margin-left: -50px;
  box-shadow: 0 0 0.5rem #babbbc;
  animation: rotate-photo 0.5s forwards ease-in-out;
}
@keyframes rotate-photo {
  100% {
    transform: rotate(-360deg);
  }
}
.profile .photo img {
  width: 100%;
}
.profile .content {
  padding: 10px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.profile .content::before {
  content: "";
  position: absolute;
  width: 230px;
  height: 150px;
  background-color: #e9f3e6;
  left: 0;
  top: -20px;
  z-index: -1;
  transform: rotate(-8deg);
}
.profile .content .text {
  margin-top: 20px;
  margin-left: 50px;
}
.profile .content .text h3, .profile .content .text h6 {
  font-weight: normal;
  margin: 3px 0;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
.profile .content .btna {
  background-color: #abc;
  width: 50px;
  height: 50px;
  position: absolute;
	padding-left: 1em;
  right: 25px;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.3s;
  animation: pop-btn 0.3s both ease-in-out 0.5s;
}
@keyframes pop-btna {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.profile .content .btna:hover {
  box-shadow: 0 0 0 5px rgba(170, 187, 204, 0.5);
}
.profile .content .btna span {
  width: 60%;
  height: 2px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  animation: to-hamburger 0.3s forwards ease-in-out;
}
.profile .content .btna span::before, .profile .content .btna span::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: white;
  transition-duration: 0.3s;
  transform: rotate(0deg);
  right: 0;
}
.profile .content .btna span::before {
  margin-top: -7px;
}
.profile .content .btna span::after {
  margin-top: 7px;
}
.profile .content .btna.active span {
  animation: to-arrow 0.3s forwards ease-in-out;
}
.profile .content .btna.active span::before, .profile .content .btna.active span::after {
  width: 60%;
  right: -1px;
}
.profile .content .btna.active span::before {
  transform: rotate(45deg);
}
.profile .content .btna.active span::after {
  transform: rotate(-45deg);
}
@keyframes to-hamburger {
  from {
    transform: translateY(-50%) rotate(-180deg);
  }
}
@keyframes to-arrow {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(180deg);
  }
}
.profile .box {
  width: 150px;
  height: 150px;
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  right: -40%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
}
.profile .box i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ececec;
  font-size: 26px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 18px;
  top: calc(75px - 50px/2);
  box-shadow: 0 0 0.5rem #babbbc;
  transition-duration: 0.3s;
}
.profile .box i:hover {
  transition-delay: initial !important;
  box-shadow: 0 0 0 5px #babbbc;
}
.profile .box.open {
  opacity: 1;
}
.profile .box.open i {
  left: 60px;
}
.profile .box.open i:nth-of-type(1) {
  transform: rotate(-90deg) translateX(120px) rotate(90deg);
  transition-delay: 0s;
}
.profile .box.open i:nth-of-type(2) {
  transform: rotate(-45deg) translateX(120px) rotate(45deg);
  transition-delay: 0.1s;
}
.profile .box.open i:nth-of-type(3) {
  transform: rotate(0deg) translateX(120px) rotate(0deg);
  transition-delay: 0.2s;
}
.profile .box.open i:nth-of-type(4) {
  transform: rotate(45deg) translateX(120px) rotate(-45deg);
  transition-delay: 0.3s;
}
.profile .box.open i:nth-of-type(5) {
  transform: rotate(90deg) translateX(120px) rotate(-90deg);
  transition-delay: 0.4s;
}
